<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/OR13/ALTGC">
        <span class="fa fa-gear"></span> Legacy
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="/legacy">LegacyApp</a></li>
        <li><a ng-href="/developer-features">DevFeatures</a></li>
        <li><a ng-href="/">New App</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right altgc-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>
