<div class="footer">

    <ul class="nav nav-pills">
        <li ui-sref-active="active" role="presentation">
            <a ui-sref="typescript">
                <i class="fa fa-windows"></i> TypeScript
            </a>
        </li>
        <li ui-sref-active="active" role="presentation">
            <a ui-sref="coffeescript">
                <i class="fa fa-coffee"></i> CoffeeScript
            </a>
        </li>
        <li ui-sref-active="active" role="presentation">
            <a ui-sref="developer-features">
                <i class="fa fa-code"></i> Dev Features
            </a>
        </li>
        <li role="presentation">
            <a href="https://github.com/OR13/ALTGC" target="_blank">
                <i class="fa fa-github"></i> View Source
            </a>
        </li>
    </ul>

</div>