<div class="container">

    <div class="col-sm-12 col-md-12 col-lg-12">


        <h2>
            Ants & Salesmen
        </h2>

        <p class="lead">
            In this <a href="https://en.wikipedia.org/wiki/Ant_colony_optimization_algorithms" target="_blank">Ant
            Colony Optimization</a> variation on the classic <a
                href="https://en.wikipedia.org/wiki/Travelling_salesman_problem"
                target="_blank">Traveling Salesman Problem</a>, we seek to define a heuristic function 'scoreCity',
            used by a salesman at each city to determine which of the remaining cities to travel to next.
        </p>


    </div>


    <div class="col-sm-9 col-md-9 col-lg-9">

        <tspi-map style="margin-top: 16px; " map="InterviewController.map"
                  class="tspi-map col-sm-12 col-md-12 col-lg-12"></tspi-map>

        <div ui-ace="InterviewController.aceOptions" ng-model="InterviewController.aceModel"
             class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 16px"></div>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">

        <form class="form-inline" style="margin-top: 16px; ">

            <button class="btn btn-danger" ng-click="InterviewController.reload()">
                <i class="fa fa-refresh"></i> Reset Map
            </button>

            <button class="btn btn-primary pull-right" ng-click="InterviewController.run()">
                <i class="fa fa-gear"></i> Run Program
            </button>

            <div class="input-group col-xs-12" style="margin-top: 16px">
                <div class="input-group-addon">Iterations</div>
                <input type="number" class="form-control" ng-model="InterviewController.maxIterations">
            </div>

            <div class="input-group col-xs-12" style="margin-top: 16px">
                <div class="input-group-addon">Cities</div>
                <input type="number" class="form-control" ng-model="InterviewController.numCities">
            </div>

            <div class="input-group col-xs-12" style="margin-top: 16px">
                <div class="input-group-addon">Speed</div>
                <input type="number" class="form-control" ng-model="InterviewController.iterationsPerSecond">
            </div>

        </form>

        <div class="tspi-metrics"
             style="margin-top: 32px; "
             ng-show="InterviewController.shortestPath">

            <table class="table table-bordered table-hover">
                <tr>
                    <th>Distance</th>
                    <th>Iteration</th>

                </tr>
                <tr ng-repeat="path in InterviewController.shortestPaths | orderBy:'distance'"
                    ng-click="InterviewController.selectPath(path)"
                    style="cursor: pointer;"
                    ng-class="{'active': InterviewController.isActivePath(path)}">
                    <td> {{path.distance }}</td>
                    <td>{{path.iteration}}</td>
                </tr>
            </table>

            <p class="text-center">
                <small>{{InterviewController.iteration}} of {{InterviewController.maxIterations}}</small>
            </p>

        </div>

    </div>


</div>
