<div class="container">

    <div class="row">
        <h1 style="margin-top: 64px; margin-bottom: 32px;">
            TSP Interview
        </h1>


    </div>

    <div class="row">
        <div ui-ace="aceOptions" ng-model="aceModel" class="col-sm-6 col-md-6 col-lg-6"></div>

        <tspi-sim class="col-sm-6 col-md-6 col-lg-6">


            <div class="tspi-controls">
                <button class="btn btn-primary" ng-click="SimController.run()">
                    <i class="fa fa-gear"></i> Run
                </button>

                <button class="btn btn-danger" ng-click="SimController.reload()">
                    <i class="fa fa-refresh"></i> Reload
                </button>
            </div>


            <div class="tspi-metrics" ng-show="interviewSim.shortestPath">
                <h3>Metrics</h3>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="path in interviewSim.shortestPaths">
                        <span class="badge badge-info">{{path.distance}}</span>
                        <span class="badge">{{interviewSim.iteration}}</span>
                        Path
                    </li>
                </ul>
            </div>

            <tspi-map map="interviewSim.map"></tspi-map>

        </tspi-sim>
    </div>

</div>
