<div class="container">

    <div class="row">
        <h1 style="margin-top: 64px; margin-bottom: 32px;">
            TSP Interview
        </h1>


    </div>

    <div class="row">
        <div ui-ace="aceOptions" ng-model="aceModel" class="col-sm-6 col-md-6 col-lg-6"></div>

        <tspi-sim class="col-sm-6 col-md-6 col-lg-6">

            <div style=" margin-bottom: 32px;">
                <button class="btn btn-primary" ng-click="SimController.run()">
                    <i class="fa fa-gear"></i> Run
                </button>

                <button class="btn btn-danger" ng-click="SimController.reload()">
                    <i class="fa fa-refresh"></i> Reload
                </button>

                <span class="label label-info">
                    {{interviewSim.shortestPath}}
                </span>

                <span class="label label-default">
                    {{interviewSim.iteration}}
                </span>

            </div>

            <tspi-map map="interviewSim.map"></tspi-map>

        </tspi-sim>
    </div>

</div>
