<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="container">

    <div class="col-sm-12 col-md-12" style="margin-top: 32px; margin-bottom: 64px">

        <div ng-include="'app/components/footer/footer.html'"></div>

    </div>


    <div class="col-sm-12 col-md-8 col-lg-8">

        <h1 style="margin-bottom: 64px;">
            TypeScript is the future of angular.
        </h1>
        <hr/>
        <p class="lead">
            Demo code for <strong>controllers</strong>, <strong>directives</strong>, and <strong>services</strong>
            using <strong>typescript modules, interfaces</strong> and <strong>classes</strong>.
        </p>

        <hr/>
        <h3>Migrating to TypeScript</h3>
        <p>
            The app assumes you are trying to migrate away from coffeescript.
            Its a reference implementation -- suggestions are welcome.
        </p>

        <hr/>
        <h4>Migrating to CoffeeScript</h4>
        <p>
            Maybe copy from <a href="https://github.com/OR13/ALCG" target="_blank">this</a>.
        </p>

        <hr/>
        <h4>TypeScript + CoffeeScript</h4>
        <p>
            <i class="fa fa-bolt"></i> Polyglots are only for true wizards.
        </p>

    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
        <h4>Sortable Demo... </h4>

        <div class="well">

            <div class="list-group" as-sortable="sortableOptions" ng-model="draggableObjects">
                <div ng-repeat="demoItem in draggableObjects" as-sortable-item class="list-group-item">
                    <div as-sortable-item-handle>
                        <altgc-demo-item item="demoItem"/>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
